<div class="col-sm-6 col-sm-offset-3">
    <div class="row">
        <div class="col-sm-12">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Add new joke.." ng-model="newJoke.joke">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="addJoke()">Add</button>
                </span>
            </div>
        </div>
    </div>
    <br>
    <div>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="joke in jokes">
                <div ng-if="!joke.editing">
                    <h5>{{ joke.joke }}</h5>
                    <h5>{{ joke.submitted_by }}</h5>
                </div>
                <div style="margin-bottom: 10px;" ng-if="joke.editing">
                    <input type="text" class="form-control" ng-model="joke.joke">
                </div>
                <span ng-show="!joke.editing">
                    <a class="btn btn-default" ng-click="editJoke(joke)"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                    <a class="btn btn-default" ng-click="deleteJoke(joke)"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                </span>
                <span ng-show="joke.editing">
                    <a class="btn btn-default" ng-click="updateJoke(joke)"><span class="glyphicon glyphicon-ok"></span> Save</a>
                    <a class="btn btn-default" ng-click="cancelEditJoke($index, joke)"><span class="glyphicon glyphicon-ban-circle"></span> Cancel</a>
                </span>
            </li>
        </ul>

        <div growl></div>

        <ul class="pager">
            <li><button type="button" class="btn btn-default" ng-click="getJokes(jokesData.prev_page_url)" ng-disabled="jokesData.prev_page_url == null">Previous</button></li>
            <li><button type="button" class="btn btn-default" ng-click="getJokes(jokesData.next_page_url)" ng-disabled="jokesData.next_page_url == null">Next</button></li>
        </ul>

        <div class="alert alert-danger" ng-if="error">
            <strong>There was an error: </strong>
            <br>Please go back and login again...
        </div>
    </div>
</div>